<div id="<%= dom_id expense %>" class="expense-container">
  <div class="expense-details">
    <p class="payee-name">
      <strong>Payee name:</strong>
      <%= expense.payee_name %>
    </p>

    <p class="category">
      <strong>Category:</strong>
      <%= expense.category %>
    </p>

    <p class="description">
      <strong>Description:</strong>
      <%= expense.description %>
    </p>

    <p class="amount">
      <strong>Amount:</strong>
      $<%= expense.amount %>
    </p>

    <p class="due-date">
      <strong>Due Date:</strong>
      <%= expense.due_date %>
    </p>

    <p class="status">
      <strong>Status:</strong>
      <%= expense.status %>
    </p>
  </div>
</div>
