<h1>Expenses</h1>

<div id="expenses"> 
  <table class="table table-striped table-bordered"> 
    <thead class="table-dark"> 
      <tr> 
        <th scope="col">Payee Name</th> 
        <th scope="col">Category</th>
        <th scope="col">Description</th> 
        <th scope="col">Amount</th> 
        <th scope="col">Action</th> 
      </tr> 
    </thead> 
    <tbody> 
      <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.payee_name %></td>
        <td><%= expense.category %></td>
        <td><%= expense.description %></td>
        <td><%= expense.amount %></td>
        
        <td><%= link_to "Show", expense, class:"btn btn-info"%></td>
      </tr>
    <% end %>
    </tbody> 
  </table> 
</div>

<%= link_to "New expense", new_expense_path, class:"btn btn-secondary" %>
